<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly reference="433513">/bin/Sitecore.Support.45512.45513.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <mvc.customizeRendering>
        <processor type="Sitecore.Support.Mvc.ExperienceEditor.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.Support.433513.433516" patch:instead="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.Mvc.ExperienceEditor']" />
      </mvc.customizeRendering>
    </pipelines>
  </sitecore>
</configuration>